{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
{% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

<div id="logo_register" class="mb-5">
    <a href="{{ path('app_home') }}"><img src="assets/images/Logo_MyFitLog.svg" alt="" loading="lazy"
            style="height: 100px;margin-left:90px" /></a>
</div>

<div id="register">

    <img src="assets/images/inscription.png" alt="" loading="lazy" style="height: 550px; margin-left: 90px;" />


    <fieldset>
        <div id="form_register" style="align-items: center;">
            <h1>S'inscrire</h1>
            <h2>Suivez votre santé avec MyFitLog </h2>

            <img src="assets/images/inscription.png" alt="" loading="lazy" />

            {{ form_start(registrationForm) }}
            <div class="row">
                <div class="col-6">
                    {{ form_row(registrationForm.firstName, {label: 'Prénom'}) }}
                </div>
                <div class="col-6">
                    {{ form_row(registrationForm.lastName, {label: 'Nom de Famille'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{ form_row(registrationForm.naissance, {label: 'Date de Naissance'}) }}
                </div>
                <div class="col-6">
                    {{ form_row(registrationForm.sexe) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{ form_row(registrationForm.taille, {label: 'Taille (en centimètre)'}) }}
                </div>
                <div class="col-6">
                    {{ form_row(registrationForm.poids, {label: ' Poids (en kg)'}) }}
                </div>
            </div>
            
            <div class="col-12">
                {{ form_row(registrationForm.email) }}
            </div>
            <div class="col-12">
                {{ form_row(registrationForm.plainPassword, {label: 'Mot de passe'}) }}
            </div>
            
            <div class="col-12 agreeTerms">
                {{ form_row(registrationForm.agreeTerms,{label: 'Accepter les termes'}) }}
            </div>
            <button type="submit" class="btn btn-primary">S'inscrire</button>

            {{ form_end(registrationForm) }}
            <p>Déjà Inscrit? <a href="{{path('app_login')}}">ici</a></p>
        </div>
    </fieldset>
    {# <div>
        <p>Authentification à double facteur avec un QR  Code</p>
    </div> #}
</div>
{% endblock %}